body{
    background-color: burlywood;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calligraffitti', cursive;
    background: #0878BA;
    background: -webkit-linear-gradient(bottom right, #0878BA, #2C010E);
    background: -moz-linear-gradient(bottom right, #0878BA, #2C010E);
    background: linear-gradient(to top left, #0878BA, #2C010E);
    color: bisque;
}

h1{
    margin-top: 25px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.time-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}


.reset-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}



#img
{
    background-size: contain;
    padding-bottom: 20px 20px;
    align-items: center;
}

h2{
    padding-bottom: 20px;
}

button
{
font-size:25px;
background-color: seashell;
color: maroon;
border-radius: 100%;
padding: 75px;
margin: 25px;

}
button:hover {
    background-color: silver;
}

#five-btn{
    padding: 5%;
    box-shadow: 3px 3px;
    height: 75px;
    width: 75;
}

#ten-btn{
    box-shadow: 3px 3px;
    width: 100px;
    height: 100px;
}

#resetButton{
    border-radius: 50%;
    padding: 25px;
    background-color: wheat ;
    color: green;
    height:100px;
    width: 100px;
}

#resetButtonTen{
    border-radius: 50%;
    padding: 25px;
    margin: 25px;
    background-color: wheat;
    color: green;
    height:100px;
    width: 100px;
}

#count
{
   margin-left:20px;
   font-size:30px;
   color:black;
}

@media only screen and (max-width: 768px) {
    body {
      /* tablet - two column display */
      grid-template-columns: 1fr 4fr;
      grid-template-rows: 50px auto 30px;
      grid-template-areas: 
        "header header"
        "main content"
        "footer footer";
        background: rgb(2,0,36);
background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
color: silver;
    }
  
  }
  @media only screen and (min-width: 992){
    body{
      background-color: teal;
      grid-template-columns: 1fr 4fr;
      grid-template-rows: 50px auto 30px;
  
    }
  }

  @media only screen
  and (max-device-width: 375px)
  {
    body{
        padding: 15px 15px;
        color: tan;
        background-color: black;
    }
    #img{
        padding: 25px 25px;
        width: 400px;
        height: 300px;
    }
    .reset-btn{
        padding: 0 0
    }
  }
  