body{
    background-color: burlywood;
    text-align: center;
    display: flex-inline;
    justify-content: space-evenly;
    margin: auto;
    padding: 50px;
    font-family: 'Calligraffitti', cursive;
    
    
}

img{
    background-size: contain;
    padding-bottom: 20px;
    align-items: center;
}

h2{
    padding-bottom: 20px;
}

button
{
font-size:40px;
background-color: seashell;
color: maroon;
border-radius: 50%;
padding: 75px;
margin: 25px;
}

#resetButton{
    border-radius: 25%;
    padding: 25px;
    background-color: wheat ;
    color: green;
}
#resetButtonTen{
    border-radius: 25%;
    padding: 25px;
    margin: 25px;
    background-color: wheat;
    color: green;
}

#count
{
   margin-left:20px;
   font-size:30px;
   color:black;
}

@media only screen and (min-width: 768px) {
    body {
      /* tablet - two column display */
      grid-template-columns: 1fr 4fr;
      grid-template-rows: 50px auto 30px;
      grid-template-areas: 
        "header header"
        "main content"
        "footer footer";
    }
  
  }
  @media only screen and (min-width: 992){
    body{
      background-color: teal;
      grid-template-columns: 1fr 4fr;
      grid-template-rows: 50px auto 30px;
  
    }
  }

  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixels-ratio: 3){

  }
  